<!-- base template, all pages will have these things -->

<!-- title
using the name of the project specified
in learning_logs url.py
app_name.urlpatterns[0].name

template tag, indicated by braces and percent signs
-->

<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -

    <!--
    check if the user is logged in, if so greet them
    otherwise provide a link to the login page
    -->
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <a href="{% url 'user:logout' %}">log out</a>
    {% else %}
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %}
</p>

<!-- render the rest of the page -->
{% block content %}{% endblock content %}