<!-- base template, all pages will have these things -->

<!-- title
using the name of the project specified
in learning_logs url.py
app_name.urlpatterns[0].name

template tag, indicated by braces and percent signs
-->

{% load bootstrap3 %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -

    <!--
    check if the user is logged in, if so greet them
    otherwise provide a link to the login page
    -->
    {% if user.is_authenticated %}
        Hello, {{ user.username }}! -
        <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">register</a> -
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %}
</p>

<!-- render the rest of the page -->
{% block content %}{% endblock content %}