<!-- inherit the base.html template -->

{% extends "learning_logs/base.html" %}


{% block content %}

<!-- print the name of the topic -->
<p>Topic: {{ topic }}</p>

<p>
    Entries:
</p>

<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">add a new entry</a>
</p>

<!-- for each entry get the date added
and get the text for each entry -->

{% for entry in entries %}
<ul>
    <li><!-- the | signifies a filter on how to display data -->
        <p>{{ entry.date_added|date:'M d, Y' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
    </li>
{% empty %}
    <li>
        No entries have been added for this topic yet.
    </li>
{% endfor %}
</ul>

{% endblock content %}