<!-- inherit the base.html template -->

{% extends "learning_logs/base.html" %}


{% block content %}

<p>Topics</p>

<!--
for topic in topics, print topic,
else print the statement

To print a variable in a template,
wrap the variable name in double braces

empty is the same as null - no values found
-->
<ul>
    {% for topic in topics %}
    <li>
        <!-- prints urls to topics -->
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </li>
    {% empty %}
        <li>No topics have been added yet.</li>
    {% endfor %}
</ul>

<!-- link to the input form -->
<a href="{% url 'learning_logs:new_topic' %}">add a topic</a>

{% endblock content %}